@import "themes/dark";
@import "themes/light";
@import "variables/global";
@import "reset";

body {
  font: var(--font-m);
  color: var(--text-color-primary);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
  height: calc(100vh - var(--navbar-height));
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
