:root {
  // fonts
  --font-family-main: "Roboto", sans-serif;
  --font-size-s: 18px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 22px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // sizes
  --navbar-height: 60px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 60px;

  // border-radius size
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;

  // colors
  --white: #fff;
  --white-100: rgb(255 255 255 / 10%);
  --white-200: rgb(255 255 255 / 20%);
  --black-100: rgb(0 0 0 / 10%);
  --black-200: rgb(0 0 0 / 20%);
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-400: #a0aec0;
  --gray-600: #4a5568;
  --gray-700: #2d3748;
  --teal-50: #e6fffa;
  --teal-100: #b2f5ea;
  --teal-200: #81e6d9;
  --teal-400: #38b2ac;
  --teal-500: #319795;
  --teal-600: #2c7a7b;
  --blue-200: #90cdf4;
  --blue-600: #2b6cb0;
  --red-500: #e53e3e;
  --red-300: #fc8181;
}
