:root {
  // fonts
  --font-family-main: "Roboto", sans-serif;
  --font-size-m: 22px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // sizes
  --navbar-height: 60px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // colors
  --white: #fff;
  --white-200: rgb(255 255 255 / 8%);
  --gray-200: #e2e8f0;
  --gray-400: #a0aec0;
  --gray-600: #4a5568;
  --gray-700: #2d3748;
  --teal-50: #e6fffa;
  --teal-100: #b2f5ea;
  --teal-200: #81e6d9;
  --teal-400: #38b2ac;
  --teal-500: #319795;
  --teal-600: #2c7a7b;
}
