.Button {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  cursor: pointer;
  border-radius: var(--border-radius-s);
  transition: all 0.3s;
  color: var(--primary-color);
  padding: 0 16px;
  text-decoration: none;
}

.onlyIcon {
  padding: 0;
  width: 40px;
}

.fullWidth {
  width: 100%;
}

.reset {
  margin: 0;
  border: none;
  outline: none;
  background: none;
}

.ghost {
  &:hover {
    background-color: var(--primary-hover);
  }
}

.outline {
  border: 1px solid currentcolor;

  &:hover {
    background-color: var(--primary-hover);
  }
}

.solid {
  color: var(--bg-color);
  background-color: var(--primary-color);
}
