.app.dark {
  --bg-color: #1A202C;
  --primary-color: #319795;
  --secondary-color: #b8baba;
  --text-color: #EDF2F7;
  --border-color: #141636;
  --bg-hover: var(--white-200);

  --border-primary: 1px solid var(--gray-600);
}