.app.light {
  --bg-color: var(--white);
  --primary-color: #319795;
  --secondary-color: #A0AEC0;
  --text-color: #2D3748;
  --bg-hover: var(--gray-200);

  --border-primary: 1px solid var(--gray-200);
}