.light_theme {
  --bg-color: var(--white);
  --primary-color: var(--teal-600);
  --primary-hover: rgb(129 230 217 / 12%);
  --secondary-color: var(--gray-400);
  --text-color-primary: var(--gray-700);
  --text-color-secondary: var(--gray-400);
  --border-primary: 1px solid var(--gray-200);
  --spinner-color: var(--gray-700);
  --outline-color: var(--blue-600);
  --error-color: var(--red-500);
}
